

/*variablesr*/
:root{
    --primary: #161A30;
    --secondary: #31304D;
    --tertiary: #F0ECE5;
    --generalbg: #B6BBC4;
}

/*base styles*/
*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

/*mobile style*/
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #85a3ad 0%, var(--generalbg) 50%);
    opacity: 1;
}

.todo-app{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
    border-radius: 5%;
    background: var(--tertiary);
    min-height: 20vh;
    width: 100%;
    max-width: 375px;
    padding: 30px 20px;
}

.todo-app .app-text{
    text-align: center;
    padding-bottom: 15px;
}

.container .app-text h1{
    font-size: 35px;
    font-weight: 600;
    background: linear-gradient(to right, #85a3ad 0%, var(--generalbg) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .container-header p{
    font-size: small;
    font-weight: lighter;
}

.user-task div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke  ;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.user-task div input{
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    padding: 10px;
}

.user-task div button {
    outline: none;
    border: none;
    padding: 16px 30px;
    background: linear-gradient(to right, #85a3ad 0%, var(--generalbg) 50%);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}

.user-task ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.user-task ul li::before{
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px solid gray;
    border-radius: 50%;
    top: 7px;
    left: 4px;
}

.user-task ul li.checked{
    text-decoration: line-through;
    color: #555553;
}

.user-task ul li.checked::before{
    background: linear-gradient(to right, #85a3ad 0%, var(--generalbg) 50%);
    border: none;
}

.user-record{
    margin-top: 50px;
}

